In [99]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import math

In [100]:
df = pd.read_csv(r'Data\test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [101]:
def gradient_descent(x,y):
    m = 0
    b = 0
    learning_rate = 0.0001
    iterations = 100000
    n = len(x)
    cost_previous = 0
    
    for i in range(iterations):
        y_pred = m * x + b
        cost = (1/n) * sum([val**2 for val in (y - y_pred)])
        md = -(2/n) * sum(x * (y - y_pred))
        bd = -(2/n) * sum(y - y_pred)
        m -= learning_rate * md
        b -= learning_rate * bd
        if math.isclose(cost, cost_previous, rel_tol=1e-9):
            break
        cost_previous = cost
    return m, b

In [102]:
def predict_using_sklean():
    df = pd.read_csv(r"Data\test_scores.csv")
    r = linear_model.LinearRegression()
    r.fit(df[['math']],df.cs)
    return r.coef_, r.intercept_

In [103]:
if __name__ == "__main__":
    df = pd.read_csv(r"Data\test_scores.csv")
    x = np.array(df.math)
    y = np.array(df.cs)

    m, b = gradient_descent(x,y)
    print("Using gradient descent function: Coef {} Intercept {}".format(m, b))

    m_sklearn, b_sklearn = predict_using_sklean()
    print("Using sklearn: Coef {} Intercept {}".format(m_sklearn,b_sklearn))

Using gradient descent function: Coef 1.0262454813586956 Intercept 1.3121913118610231
Using sklearn: Coef [1.01773624] Intercept 1.9152193111568891